body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  color: #444;
  background-color: #E8E3CF;
  background-img: url("file:///C:\Web\image\2223.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-origin: border-box;
  background-clip: border-box;
  
}

nav {
  max-width: 100%;
  background-color: #DCC69D;
  height: 180px;
  
}
nav img {
  width: 150px;
  folat: left;
}
nav h3 {
  display: inline-block;
  font-weight: 500;
  line-height: 5px;
  font-size: 80px;
}
/*---article--*/
.container {
  display: flex;
  justify-content: center;

}
.p1, .p2 {
 color: #d15c1e;
}
.main {
  width: 870px;
  height: 420px;
  float: right;
  margin: 30px 70px 120px 0;
  padding: 20px;
  box-shadow: 5px 5px 20px #2D2019;
  border-radius: 10px;
  background-color: rgba(20,16,12,.7);
  color: #55453a; 
  text-align: center;
  
}
.main2 {
 text-align: center;
 padding-top: 20px;
  
}
.menu p {
  display: block;
  text-align:justify;
  text-justify: inter-ideograph;
  letter-spacing: 1.2px;
  text-align: center;

}
.content>.main{
  background-image: url("https://images.unsplash.com/photo-1514596045482-f3c1c6ca9adb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80");
}
.logo {
 float: left top;

}


footer {
  position: relative;
  padding-top: 5px;
  margin-top: 10px;
  color: #fff;
  background-color: #69865e;
  text-align: center;

}

footer .container2 {
  padding-top: 5px;
  margin-left: 600px;
 
}
.w1{
 color: #F9B400;
 font-size: 18px;
 letter-spacing: 1.6px;
 font-weight: 900;
}
footer p, ul {
  display:inline-block;
}

footer .container3{
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 1.6px;
  line-height: 24px;
}

footer p{
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1.6px;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  
}
footer li{
  display:inline;
}
footer ul img{
  width: 50px;
  height: 30px;
  
}

footer .about {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
footer .about ul {
  position: absolute;
  left: 0;
  height: 0%;
  background-color: #00141e;
  transition: height 0.3;
  overflow: hidden;
}
footer .about a {
  text-decoration: none;
  color: inherit; /* 移除超連結顏色 */
}

a.sammy:hover {
  color: #F9B400;
}
a.sammy:active {
  color: #fff;
}
